# Ignore everything
*

# except these files
!/.gitignore
!/LICENSE
!/MANIFEST.in
!/README.md
!/Pipfile
!/Pipfile.lock
!/mypy.ini
!/pytest.ini
!/setup.py
!/sqitch.conf

# and these directories
!/clinical/
!/dev/
!/docs/
!/lib/
!/locations/
!/schema/
!/tests/

# and these nested files
!/.github/
!/.github/workflows/
!/.github/workflows/ci.yaml
